@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #070707;
  --foreground-main: #fff;
}

body {
  background-color: var(--background-main);
  color: var(--foreground-main);
}

input[type="text"] {
  @apply w-full bg-neutral-800 rounded-xl;
}

button[type="button"],
button[type="submit"] {
  @apply bg-neutral-800 text-white py-2 px-4 
  border border-neutral-800 rounded-xl;
}